/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.main-header .nav-toggler {
    left: 0px;
    right: unset !important;
}

.main-menu .navigation > li {
    float: right !important;
}

.outer-box {
    float: left !important;
    right: unset !important;
}

.main-menu .navigation > li > ul > li > a {
    position: relative;
    text-align: right !important;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,600,700');
body {
    font-family: 'Droid Arabic Kufi', serif;
}

@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

li, ul, h1, h2, h3, h4, h5, p, h6, a, body {
    font-family: 'Droid Arabic Kufi', serif;
    font-weight: normal;
    font-style: normal;
}