
    <style>
        .shop-item .inner-box .image-box img {
            height: 300px !important;
    </style>
    <!--Blog Carousel Section-->
    <section class="blog-carousel-section grey-bg">
        <div class="auto-container">
            <div class="sec-title" style="text-align: center;">
                <h2 style="font-weight: 600;font-size: 21px; direction:ltr">pdf إصدارات أخبار اليوم</h2>
            </div>


            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 form-group">

                <!--Related Items-->
                <div class="related-items">
                    <div class="four-item-carousel owl-carousel owl-theme">
                        <!--Shop Item-->
                        <div class="shop-item">
                            <div class="inner-box">
                                <div class="off-price">pdf</div>
                                <div class="image-box">
                                    <a href="shop-single.html"><img src="https://images.akhbarelyom.com/images/images/issues/covers/2020-11-24_10-11-08_1.jpg" alt="" /></a>
                                </div>
                                <div class="lower-box">
                                    <div class="lower-content">
                                        <div class="price">الأخبار</div>
                                        <a href="shop-single.html" class="cart-btn theme-btn">الأخبار</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item">
                            <div class="inner-box">
                                <div class="off-price">pdf</div>
                                <div class="image-box">
                                    <a href="shop-single.html"><img src="https://images.akhbarelyom.com/images/images/issues/covers/2020-11-21_09-54-20_1.jpg" alt="" /></a>
                                </div>
                                <div class="lower-box">
                                    <div class="lower-content">
                                        <div class="price">أخبار اليوم</div>
                                        <a href="shop-single.html" class="cart-btn theme-btn">أخبار اليوم</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item">
                            <div class="inner-box">
                                <div class="off-price">pdf</div>
                                <div class="image-box">
                                    <a href="shop-single.html"><img src="https://images.akhbarelyom.com/images/images/issues/covers/2020-11-24_10-21-36_1.jpg" alt="" /></a>
                                </div>
                                <div class="lower-box">
                                    <div class="lower-content">
                                        <div class="price">الأخبار المسائي</div>
                                        <a href="shop-single.html" class="cart-btn theme-btn">الأخبار المسائي</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item">
                            <div class="inner-box">
                                <div class="off-price">pdf</div>
                                <div class="image-box">
                                    <a href="shop-single.html"><img src="https://images.akhbarelyom.com/images/images/issues/covers/2020-11-12_09-55-38_1.jpg" alt="" /></a>
                                </div>
                                <div class="lower-box">
                                    <div class="lower-content">
                                        <div class="price">أخبار الرياضة</div>
                                        <a href="shop-single.html" class="cart-btn theme-btn">أخبار الرياضة</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item">
                            <div class="inner-box">
                                <div class="off-price">pdf</div>
                                <div class="image-box">
                                    <a href="shop-single.html"><img src="https://images.akhbarelyom.com/images/images/issues/covers/2020-11-14_02-54-51_1.jpg" alt="" /></a>
                                </div>
                                <div class="lower-box">
                                    <div class="lower-content">
                                        <div class="price">أخبار الحوادث</div>
                                        <a href="shop-single.html" class="cart-btn theme-btn">أخبار الحوادث</a>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!--Shop Item-->
                        <div class="shop-item">
                            <div class="inner-box">
                                <div class="off-price">pdf</div>
                                <div class="image-box">
                                    <a href="shop-single.html"><img src="https://images.akhbarelyom.com/images/images/issues/covers/2020-11-22_10-33-27_1.jpg" alt="" /></a>
                                </div>
                                <div class="lower-box">
                                    <div class="lower-content">
                                        <div class="price">أخر ساعة</div>
                                        <a href="shop-single.html" class="cart-btn theme-btn">أخر ساعة</a>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <!--Shop Item-->
                        <div class="shop-item">
                            <div class="inner-box">
                                <div class="off-price">pdf</div>
                                <div class="image-box">
                                    <a href="shop-single.html"><img src="https://images.akhbarelyom.com/images/images/issues/covers/2020-11-03_11-34-05_1.jpg" alt="" /></a>
                                </div>
                                <div class="lower-box">
                                    <div class="lower-content">
                                        <div class="price">اللواء الأسلامي</div>
                                        <a href="shop-single.html" class="cart-btn theme-btn">اللواء الأسلامي</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item">
                            <div class="inner-box">
                                <div class="off-price">pdf</div>
                                <div class="image-box">
                                    <a href="shop-single.html"><img src="https://images.akhbarelyom.com/images/images/issues/covers/2020-11-17_10-41-06_1.jpg" alt="" /></a>
                                </div>
                                <div class="lower-box">
                                    <div class="lower-content">
                                        <div class="price">أخبار النجوم</div>
                                        <a href="shop-single.html" class="cart-btn theme-btn">أخبار النجوم</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Shop Item-->
                        <div class="shop-item">
                            <div class="inner-box">
                                <div class="off-price">pdf</div>
                                <div class="image-box">
                                    <a href="shop-single.html"><img src="https://images.akhbarelyom.com/images/images/issues/covers/2020-11-11_01-11-02_1.jpg" alt="" /></a>
                                </div>
                                <div class="lower-box">
                                    <div class="lower-content">
                                        <div class="price">أخبار الأدب</div>
                                        <a href="shop-single.html" class="cart-btn theme-btn">أخبار الأدب</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item">
                            <div class="inner-box">
                                <div class="off-price">pdf</div>
                                <div class="image-box">
                                    <a href="shop-single.html"><img src="https://images.akhbarelyom.com/images/images/issues/covers/2020-10-13_02-13-34_1.jpg" alt="" /></a>
                                </div>
                                <div class="lower-box">
                                    <div class="lower-content">
                                        <div class="price">أخبار السيارات</div>
                                        <a href="shop-single.html" class="cart-btn theme-btn">أخبار السيارات</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item">
                            <div class="inner-box">
                                <div class="off-price">pdf</div>
                                <div class="image-box">
                                    <a href="shop-single.html"><img src="https://images.akhbarelyom.com/images/images/issues/covers/2020-11-19_04-45-28_1.jpg" alt="" /></a>
                                </div>
                                <div class="lower-box">
                                    <div class="lower-content">
                                        <div class="price">فارس</div>
                                        <a href="shop-single.html" class="cart-btn theme-btn">فارس</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <!--End Blog Carousel Section-->
