

<div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <p></p>
    <aside class="sidebar default-sidebar right-sidebar">

        <!-- Search -->
        <div class="sidebar-widget search-box">
            <form method="post" action="contact.html">
                <div class="form-group">
                    <input type="search" name="search-field" value="" placeholder="Search" required>
                    <button type="submit"><span class="icon fa fa-search"></span></button>
                </div>
            </form>
        </div>

        <div class="sidebar-widget sidebar-adds-widget">
            <div class="adds-block" style="background-image:url(images/resource/add-image-2.jpg);">
                <div class="inner-box">
                    <div class="text">Advertisement <span> 340 x 283</span></div>
                    <a href="#" class="theme-btn btn-style-two">Purchase Now</a>
                </div>
            </div>
        </div>
        <!--Social Widget-->
        <div class="sidebar-widget sidebar-social-widget">
            <div class="sidebar-title">
                <h2>تابعونا </h2>
            </div>
            <ul class="social-icon-one alternate">
                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li class="twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="g_plus"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                <li class="linkedin"><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
                <li class="pinteret"><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                <li class="android"><a href="#"><span class="fa fa-android"></span></a></li>
                <li class="instagram"><a href="#"><span class="fa fa-instagram"></span></a></li>
                <li class="vimeo"><a href="#"><span class="fa fa-vimeo"></span></a></li>
            </ul>
        </div>
        <!--End Social Widget-->
        <!--Adds Widget-->
        <div class="sidebar-widget sidebar-adds-widget">
            <div class="adds-block" style="background-image:url(images/resource/add-image-3.jpg);">
                <div class="inner-box">
                    <div class="text">Advertisement <span> 340 x 283</span></div>
                    <a href="#" class="theme-btn btn-style-two">Purchase Now</a>
                </div>
            </div>
        </div>
        <!--Ends Adds Widget-->
        <!--News Post Widget-->
        <div class="sidebar-widget posts-widget">

            <!--Product widget Tabs-->
            <div class="product-widget-tabs">
                <!--Product Tabs-->
                <div class="prod-tabs tabs-box">

                    <!--Tab Btns-->
                    <ul class="tab-btns tab-buttons clearfix">

                        <li data-tab="#prod-recent1" class="tab-btn">ترشيحاتنا</li>
                        <li data-tab="#prod-comment1" class="tab-btn">إنفوجراف</li>
                        <li data-tab="#prod-popular1" class="tab-btn active-btn">الأكثر قراءة</li>
                    </ul>

                    <!--Tabs Container-->
                    <div class="tabs-content">

                        <!--Tab / Active Tab-->
                        <div class="tab active-tab" id="prod-popular1">
                            <div class="content">

                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="NewsDetails.aspx"><img class="wow fadeIn animated animated" data-wow-delay="0ms" data-wow-duration="500ms" src="https://images.akhbarelyom.com/images/images/small/20201123194329177.jpg" alt="" style="visibility: visible; animation-duration: 500ms; animation-delay: 0ms; animation-name: fadeIn;"></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                    <div class="text"><a href="NewsDetails.aspx">محمد رمضان يتحول لـ«فريدة».. والحكومة ترفض الاعتراف بالسيدة المستجدة «صور»</a></div>
                                </article>

                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="NewsDetails.aspx"><img class="wow fadeIn animated" data-wow-delay="0ms" data-wow-duration="500ms" src="https://images.akhbarelyom.com/images/images/small/20201123165419411.jpg" alt="" style="visibility: hidden; animation-duration: 500ms; animation-delay: 0ms; animation-name: none;"></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                    <div class="text"><a href="NewsDetails.aspx">حالة كورونا جديدة في نادي الزمالك</a></div>
                                </article>

                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="NewsDetails.aspx"><img class="wow fadeIn animated animated" data-wow-delay="0ms" data-wow-duration="500ms" src="https://images.akhbarelyom.com/images/images/small/20201123203129331.jpg " alt="" style="visibility: visible; animation-duration: 500ms; animation-delay: 0ms; animation-name: fadeIn;"></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                    <div class="text"><a href="NewsDetails.aspx">كلام نهائي.. «الأهلي» يحسم مشاركة الشناوي في النهائي الأفريقي </a></div>
                                </article>

                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="NewsDetails.aspx"><img class="wow fadeIn animated animated" data-wow-delay="0ms" data-wow-duration="500ms" src="https://images.akhbarelyom.com/images/images/small/20201123174022522.jpg" alt="" style="visibility: visible; animation-duration: 500ms; animation-delay: 0ms; animation-name: fadeIn;"></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                    <div class="text"><a href="NewsDetails.aspx">استشهاد ضابط وأمين شرطة في مطاردة بطور سيناء «صور»</a></div>
                                </article>



                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="prod-recent1">
                            <div class="content">

                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="NewsDetails.aspx"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="500ms" src="https://images.akhbarelyom.com/images/images/small/20201124162922283.jpg" alt="" style="visibility: hidden; animation-duration: 500ms; animation-delay: 0ms; animation-name: none;"></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                    <div class="text"><a href="NewsDetails.aspx">3 خطوات لحل مشكلة عداد الكهرباء ممتلئ الذاكرة؟</a></div>
                                </article>

                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="NewsDetails.aspx"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="500ms" src=" https://images.akhbarelyom.com/images/images/small/20201124155253600.jpg" alt="" style="visibility: hidden; animation-duration: 500ms; animation-delay: 0ms; animation-name: none;"></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                    <div class="text"><a href="NewsDetails.aspx">تعطيل الدراسة في مطروح.. غدا</a></div>
                                </article>

                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="NewsDetails.aspx"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="500ms" src=" https://images.akhbarelyom.com/images/images/small/20201123201822251.jpg" alt="" style="visibility: hidden; animation-duration: 500ms; animation-delay: 0ms; animation-name: none;"></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                    <div class="text"><a href="NewsDetails.aspx">برلنتي عبدالحميد تطلق زوجها فيحاول الانتحار</a></div>
                                </article>

                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="NewsDetails.aspx"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="500ms" src="https://Images.akhbarelyom.com/images/images/small/20201123192227479.jpg" alt="" style="visibility: hidden; animation-duration: 500ms; animation-delay: 0ms; animation-name: none;"></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                    <div class="text"><a href="NewsDetails.aspx">أم كلثوم للعندليب: تعالى نهق لنا شوية</a></div>
                                </article>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="prod-comment1">
                            <div class="content">

                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="NewsDetails.aspx"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="500ms" src="https://Images.akhbarelyom.com/images/images/small/20201124102014432.jpg" alt="" style="visibility: hidden; animation-duration: 500ms; animation-delay: 0ms; animation-name: none;"></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                    <div class="text"><a href="NewsDetails.aspx">إنفوجراف| 6 خطوات هامة للحماية من فيروس كورونا</a></div>
                                </article>

                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="NewsDetails.aspx"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="500ms" src="https://Images.akhbarelyom.com/images/images/small/20201122102226291.jpg" alt="" style="visibility: hidden; animation-duration: 500ms; animation-delay: 0ms; animation-name: none;"></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                    <div class="text"><a href="NewsDetails.aspx">إنفوجراف | 7 عادات صحية تكشف سر «طول العمر»</a></div>
                                </article>

                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="NewsDetails.aspx"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="500ms" src="https://Images.akhbarelyom.com/images/images/small/20201122113430646.jpg" alt="" style="visibility: hidden; animation-duration: 500ms; animation-delay: 0ms; animation-name: none;"></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                    <div class="text"><a href="NewsDetails.aspx">إنفوجراف | لقائدي السيارات.. نصائح هامة لتقليل معدل استهلاك الوقود</a></div>
                                </article>

                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="NewsDetails.aspx"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="500ms" src="https://Images.akhbarelyom.com/images/images/small/20201120124807946.jpg" alt="" style="visibility: hidden; animation-duration: 500ms; animation-delay: 0ms; animation-name: none;"></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                    <div class="text"><a href="NewsDetails.aspx">إنفوجراف| مواعيد وغلق المحلات التجارية بمصر</a></div>
                                </article>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!--End Product Info Tabs-->
        </div>
        <!--End Post Widget-->


    </aside>
</div>
